

.vh-100{

	background-color: black;
	color: white;
}
.form-outline input{ 
	background-color: rgb(42, 41, 41);
	border: none;
	border-bottom: 2px solid white;
	margin-bottom: 10px;
}

.nav-login{
	position: relative;
	padding: 10px;
	top: 15px;
	left: 25px;
	
}
.nav-login a{
	
	color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
	text-decoration: none;
	font-weight: 600;
	display: inline;
	

}
.nav-login img{
padding-bottom: 13px;
padding-right: 5px;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
